<Context>
  <Resource
    name="jdbc/foodmart"
    auth="Container"
    type="javax.sql.DataSource"

    factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
    driverClassName="org.postgresql.Driver"

    url="jdbc:postgresql://db:5432/foodmart"
    username="postgres"
    password="postgres"

    maxTotal="20"
    maxIdle="10"
    maxWaitMillis="10000"
  />
</Context>